*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
   background-color: beige;
 
}

nav{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}


